/*

!.gitignore
!.zshrc
!.Xresources
!.imwheelrc
!.Brewfile

.config/*
!.config/
!.config/kitty/
!.config/mc/
!.config/tmux/
!.config/git/
!.config/mpv/

!.config/nvim/
.config/nvim/plugin/packer_compiled.lua

!Wallpapers/
