/*

!.gitignore
!.gitignore-global
!.zshrc
!.Xresources
!.imwheelrc

.config/*
!.config/
!.config/kitty/
!.config/nvim/
.config/nvim/plugin/packer_compiled.lua
!.config/mc/
!.config/tmux/
!.config/git/

!Wallpapers/
